node_modules
**/node_modules

.next
**/.next

.git
.gitignore

npm-debug.log*

# Keep dependencies and compiled Next.js files inside Lambda standalone artifact
!app/node_modules/
!app/node_modules/**
!app/apps/storefront/node_modules/
!app/apps/storefront/node_modules/**
!app/apps/storefront/.next/
!app/apps/storefront/.next/**
