# Generate a secret with: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000/"

# Google (Google Cloud Console)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github (Github Developer Settings)
GITHUB_ID=
GITHUB_SECRET=

#Dev DB
DATABASE_URL=

ADMIN_EMAIL=